.form-signin{
	/*
	#id -no id
	button{}

	*/
	/*
	margin - отступ элемента по краям
	*/
	margin: 0 auto;
	width: 200px;
	border: 5px solid rgb(120, 155 ,200);
	padding: 16px;
}
.form-signin > input, button{
	display: block;
	width: 100%;
	box-sizing: border-box;

}
